.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #0984e3;
  cursor: pointer;
  box-shadow: 0 7px #81ecec;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
